.Hexagon {
  position: relative;
  color: #9d69de;
  filter: drop-shadow(0px 20px 35px rgba(0, 0, 0, 0.12));

  & > svg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:global(.dark) {
  .Hexagon {
    color: white;
  }
}
