.search {
  @apply text-primary px-4 cursor-pointer shadow-purpleLight;
  min-width: 205px;
  height: 48px;
  filter: drop-shadow(0px 32px 48px rgba(55, 0, 99, 0.08));
  background: white;
  border-radius: 16px;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    @apply text-primary font-heading transition-all;
    outline: none;
    background: transparent;
    width: 0;
    text-align: right;
  }

  &Active {
    @apply text-primaryClear border-primaryClear;
    input {
      width: 110px;
      margin-left: 8px;
    }
  }
}
