.urlInput {
  &Container {
    @apply flex text-primary;
    background: #faf3ff;
    border: 1px solid #c89cff;
    border-radius: 8px;
    padding: 38px 32px;

    input {
      @apply outline-0;
      &::placeholder {
        @apply text-primaryClear font-bold text-16;
      }
    }
  }

  &ContainerValid {
    @apply text-primaryClear;
    background: white;
    input {
      @apply text-primary;
    }
  }
}
