@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "ui-utils";

@font-face {
  font-family: "Aeonik Medium";
  src: url("/fonts/Aeonik/Aeonik-Medium.otf");
}

@font-face {
  font-family: "Aeonik Bold";
  src: url("/fonts/Aeonik/Aeonik-Bold.otf");
}

@font-face {
  font-family: "Aeonik Light";
  src: url("/fonts/Aeonik/Aeonik-Light.otf");
}

@font-face {
  font-family: "Aeonik Regular";
  src: url("/fonts/Aeonik/Aeonik-Regular.otf");
}

@font-face {
  font-family: "Aeonik Black";
  src: url("/fonts/Aeonik/Aeonik-Black.otf");
}

@font-face {
  font-family: "Druk Wide Web";
  src: url("/fonts/DrukWideWeb/DrukWide-Bold-Reduced.woff.ttf");
  weight: 700;
  style: normal;
}

.g-container {
  @screen md {
    @apply px-6;
    max-width: 768 + 48px;
  }

  @screen lg {
    @apply px-6;
    max-width: 1024 + 48px;
  }

  @screen xl {
    @apply px-8;
    max-width: 1280 + 64px;
  }

  @screen 2xl {
    @apply px-10;
    max-width: 1536 + 80px;
  }
}

.dark {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #2c2a30;
  }

  &::-webkit-scrollbar-thumb {
    background: #8f00ff;
    border-radius: 8px;
  }

  scrollbar-width: thin;
  scrollbar-color: #8f00ff #2c2a30;
}
