.link {
  position: relative;
}
.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #8f00ff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 100%;
  left: 0;
}

.account {
  display: flex;
  align-items: center;
  background-color: #8f00ff;
  height: 42px;
  width: 200px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  cursor: pointer;
  border-radius: 16px;
  background: linear-gradient(360deg, #7e1aff 0%, #9f24ff 50%);
  box-shadow: 0px 20px 35px rgb(55 0 99 / 20%);
  font-family: Druk Wide Web;
}

.profile {
  margin-right: 4px;
  color: #fff;
  text-align: center;
}

.address {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  position: relative;
}

.dropElt {
  width: 80%;
  height: 64px;
  margin: auto;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}

.network {
  margin-top: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.6;
}

.dotTyping {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
  animation: dotTyping 1.5s infinite linear;
}

.stage {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  margin: auto;
  overflow: hidden;
}

.accountLink {
  text-decoration: unset !important;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
  }
  50% {
    box-shadow: 9984px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10014px 0 0 0 #fff;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px -10px 0 0 #fff;
  }
  100% {
    box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
  }
}
